    <footer id="footer">
      <a id="contentinfo"></a>
  		<nav class="nav ym-hlist" role="navigation">
    		<ul class="linklist">
    			<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
    				<!-- IF not S_IS_BOT -->
    					<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
    					<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
    					<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
    					<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
    				<!-- ENDIF -->
    			<li class="rightside"><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- ENDIF --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
    		</ul>
    	</nav>

    	<div class="copyright">
    	  Powered by <a href="http://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group | Layout based on <a href="http://www.yaml.de" target="_blank">YAML</a>
    		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
    		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
    		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
    	</div>
    </footer>

    <div>
    	<a id="bottom" name="bottom" accesskey="z"></a>
    	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
    </div>

  </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script src="{T_THEME_PATH}/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script type="text/javascript" src="{T_THEME_PATH}/js/libs/Hyphenator.js"></script>

<script type="text/javascript" src="{T_THEME_PATH}/js/mylibs/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="{T_THEME_PATH}/js/mylibs/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{T_THEME_PATH}/js/plugins.js"></script>
<script type="text/javascript" src="{T_THEME_PATH}/js/script.js"></script>

<script type="text/javascript">
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>