<!DOCTYPE html>
<html lang="{S_USER_LANG}">
<head>
  <meta charset="{S_CONTENT_ENCODING}">


  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <![endif]-->

  <title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

  <meta name="viewport" content="width=device-width">

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <!-- <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-precomposed.png"> -->

  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="robots" content="noindex,nofollow">

  <!--[if ! lte IE 6]><!-->
  <link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" media="screen, projection" />
  <!--<![endif]-->
  
  <!--[if lte IE 8]>
  <link href="{T_THEME_PATH}/patch_lte_ie8.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if lte IE 7]>
  <link href="{T_THEME_PATH}/patch_lte_ie7.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if lte IE 6]>
  <link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.b.css" media="screen, projection">
  <![endif]-->
  <!--[if IEMobile]>
  <link href="{T_THEME_PATH}/css/patches/patch_mobile_ie.css" rel="stylesheet" type="text/css" />
  <![endif]-->

  <!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
  	<link href="{T_THEME_PATH}/bidi.css" rel="stylesheet" type="text/css" media="screen, projection" />
  <!-- ENDIF -->

  {META}

  <!-- IF S_ENABLE_FEEDS -->
  	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
  	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
  	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
  	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
  	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
  	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
  	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
  <!-- ENDIF -->

  <!--
  	phpBB style name: yaml-default
  	Based on style:   yaml-default  (https://github.com/michsch/phpBB3-YAML-Style)
  	Original author:  Michael Schulze ( http://www.elsigno.de/ )
  	Modified by:

  	NOTE: This page was generated by phpBB, the free open-source bulletin board package.
  	      The phpBB Group is not responsible for the content of this page and forum. For more information
  	      about phpBB please visit http://www.phpbb.com
  -->

  <script type="text/javascript">
  // <![CDATA[
  	var jump_page = '{LA_JUMP_PAGE}:';
  	var on_page = '{ON_PAGE}';
  	var per_page = '{PER_PAGE}';
  	var base_url = '{A_BASE_URL}';
  	var style_cookie = 'phpBBstyle';
  	var style_cookie_settings = '{A_COOKIE_SETTINGS}';
  	var onload_functions = new Array();
  	var onunload_functions = new Array();

  	<!-- IF S_USER_PM_POPUP and S_NEW_PM -->
  		var url = '{UA_POPUP_PM}';
  		window.open(url.replace(/&amp;/g, '&'), '_phpbbprivmsg', 'height=225,resizable=yes,scrollbars=yes, width=400');
  	<!-- ENDIF -->

  	/**
  	* Find a member
  	*/
  	function find_username(url)
  	{
  		popup(url, 760, 570, '_usersearch');
  		return false;
  	}

  	/**
  	* New function for handling multiple calls to window.onload and window.unload by pentapenguin
  	*/
  	window.onload = function()
  	{
  		for (var i = 0; i < onload_functions.length; i++)
  		{
  			eval(onload_functions[i]);
  		}
  	};

  	window.onunload = function()
  	{
  		for (var i = 0; i < onunload_functions.length; i++)
  		{
  			eval(onunload_functions[i]);
  		}
  	};

  // ]]>
  </script>
  
  <link rel="dns-prefetch" href="http://ajax.googleapis.com" />
  
  <script type="text/javascript" src="{T_THEME_PATH}/js/libs/modernizr-2.5.3.min.js"></script>
  <script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>
</head>

<body id="phpbb" class="{S_CONTENT_DIRECTION} simple">

<div class="ym-wrapper">
	<a id="top" name="top" accesskey="t"></a>
	<div class="ym-wbox">
    <div id="main" role="main">
      <a id="content"></a>